# This is a classification example using a dataset from star wars found at:
https://github.com/fgeorges/star-wars-dataset

First import the required modules
The dataset is found in several json files that need to be parsed and concatenated

In [1]:
import os
import glob
import json 
import pandas as pd 
from pandas.io.json import json_normalize #package for flattening json in pandas df

In [4]:
#People contains the files with the information of the characters of the mocvies
file_list = glob.glob(os.path.join(os.getcwd(), r"C:\Training\Python\ML\SW\star-wars-dataset\json\people", "*.json"))

In [5]:
#This code forms a Dataframe with the charceters information
sw=pd.DataFrame()
for file_path in file_list:
    with open(file_path,encoding="utf8") as f:
        d = json.load(f)
    sw= sw.append(json_normalize(d['people']))

In [6]:
#This shows the first 5 rows of the dataset
sw.head()

,birth_year,created,desc,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,19BBY,2014-12-09T13:50:51.644000Z,[Luke Skywalker is a fictional character and t...,2014-12-20T21:17:56.891000Z,blue,"[http://swapi.co/api/films/6/, http://swapi.co...",male,blond,172,http://swapi.co/api/planets/1/,77,Luke Skywalker,fair,[http://swapi.co/api/species/1/],"[http://swapi.co/api/starships/12/, http://swa...",http://swapi.co/api/people/1/,"[http://swapi.co/api/vehicles/14/, http://swap..."
0,57BBY,2014-12-10T16:16:29.192000Z,"[Obi-Wan ""Ben"" Kenobi is a fictional character...",2014-12-20T21:17:50.325000Z,blue-gray,"[http://swapi.co/api/films/5/, http://swapi.co...",male,"auburn, white",182,http://swapi.co/api/planets/20/,77,Obi-Wan Kenobi,fair,[http://swapi.co/api/species/1/],"[http://swapi.co/api/starships/48/, http://swa...",http://swapi.co/api/people/10/,[http://swapi.co/api/vehicles/38/]
0,41.9BBY,2014-12-10T16:20:44.310000Z,"[Darth Vader, also known by his birth name Ana...",2014-12-20T21:17:50.327000Z,blue,"[http://swapi.co/api/films/5/, http://swapi.co...",male,blond,188,http://swapi.co/api/planets/1/,84,Anakin Skywalker,fair,[http://swapi.co/api/species/1/],"[http://swapi.co/api/starships/59/, http://swa...",http://swapi.co/api/people/11/,"[http://swapi.co/api/vehicles/44/, http://swap..."
0,64BBY,2014-12-10T16:26:56.138000Z,"[Governor Wilhuff ""Grand Moff"" Tarkin, is a fi...",2014-12-20T21:17:50.330000Z,blue,"[http://swapi.co/api/films/1/, http://swapi.co...",male,"auburn, grey",180,http://swapi.co/api/planets/21/,NaN,Wilhuff Tarkin,fair,[http://swapi.co/api/species/1/],[],http://swapi.co/api/people/12/,[]
0,200BBY,2014-12-10T16:42:45.066000Z,"[Chewbacca (/tʃuːˈbɑːkə/), nicknamed ""Chewie"",...",2014-12-20T21:17:50.332000Z,blue,"[http://swapi.co/api/films/6/, http://swapi.co...",male,brown,228,http://swapi.co/api/planets/14/,112,Chewbacca,NaN,[http://swapi.co/api/species/3/],"[http://swapi.co/api/starships/10/, http://swa...",http://swapi.co/api/people/13/,[http://swapi.co/api/vehicles/19/]

Now is time to merge some data from the species files that correspond to the characters

In [7]:
sr=sw['species']
sw['speciesr1'] = sr.str.extract(pat = '(\\d+)')
sw['species']=sw['species'].apply(', '.join)

#Species        
file_list = glob.glob(os.path.join(os.getcwd(), r"C:\Training\Python\ML\SW\star-wars-dataset\json\species", "*.json"))

sw_sp=pd.DataFrame()
for file_path in file_list:
    with open(file_path,encoding="utf8") as f:
        d = json.load(f)
    sw_sp= sw_sp.append(json_normalize(d['species']))

In [8]:
#lets see the first rows of the species dataframe
sw_sp.head()

,average_height,average_lifespan,classification,created,desc,designation,edited,eye_colors,films,hair_colors,homeworld,language,name,people,skin_colors,url
0,180,120,mammal,2014-12-10T13:52:11.567000Z,"[Modern humans (Homo sapiens, primarily ssp. H...",sentient,2015-04-17T06:59:55.850671Z,"brown, blue, green, hazel, grey, amber","[http://swapi.co/api/films/7/, http://swapi.co...","blonde, brown, black, red",http://swapi.co/api/planets/9/,Galactic Basic,Human,"[http://swapi.co/api/people/1/, http://swapi.c...","caucasian, black, asian, hispanic",http://swapi.co/api/species/1/
0,180,NaN,mammal,2014-12-18T11:26:20.103000Z,NaN,sentient,2014-12-20T21:36:42.157000Z,black,[http://swapi.co/api/films/3/],none,http://swapi.co/api/planets/33/,Sullutese,Sullustan,[http://swapi.co/api/people/31/],pale,http://swapi.co/api/species/10/
0,180,NaN,NaN,2014-12-19T17:07:31.319000Z,NaN,sentient,2014-12-20T21:36:42.160000Z,"red, pink",[http://swapi.co/api/films/4/],none,http://swapi.co/api/planets/18/,Neimoidia,Neimodian,[http://swapi.co/api/people/33/],"grey, green",http://swapi.co/api/species/11/
0,190,NaN,amphibian,2014-12-19T17:30:37.341000Z,NaN,sentient,2014-12-20T21:36:42.163000Z,orange,"[http://swapi.co/api/films/5/, http://swapi.co...",none,http://swapi.co/api/planets/8/,Gungan basic,Gungan,"[http://swapi.co/api/people/36/, http://swapi....","brown, green",http://swapi.co/api/species/12/
0,120,91,mammal,2014-12-19T17:48:56.893000Z,NaN,sentient,2014-12-20T21:36:42.165000Z,yellow,"[http://swapi.co/api/films/5/, http://swapi.co...",none,http://swapi.co/api/planets/34/,Toydarian,Toydarian,[http://swapi.co/api/people/40/],"blue, green, grey",http://swapi.co/api/species/13/

Lets create a reduce dataframe with three columns of the species dataframe, and merge species with people

In [11]:
reduced_sp=sw_sp[['url','name','classification']]
reduced_sp = reduced_sp.rename(columns={'url': 'species','name':'species_name'})

swr1=pd.merge(sw,reduced_sp,how='left',on='species')

In [12]:
#Then reduce the drataframe to only the Y=species_name and X's=eye_color,height,mass,skin_color, and classification
sw_class=swr1[['species_name','eye_color','height','mass','skin_color','classification']]
sw_class['classification'][50]='mammal'
sw_class1=sw_class.dropna()

In [13]:
#reformat the names in the column to prepare for "one hot encoding"
sw_class2=sw_class1.replace({'eye_color': {'green, yellow': 'green_yellow', 'blue-gray': 'blue_gray'},
                             'skin_color':{'fair, green, yellow': 'fr_gr_yel','white, blue':'wh_bl',
                                           'green-tan, brown':'gr_tn_br','brown mottle':'br_mo',
                                           'brown, white':'br_wh','grey, blue':'gr_bl','white, orange':'wh_or',
                                           'red, blue, white':'r_b_w',
                                           'white, red':'wh_r','grey, red':'gr_rd'}})

Prepare the columns that need to be scaled and encoded, the factorize the column of the dependent variable.

In [22]:
import numpy as np
dataset = sw_class2
dataset=dataset.replace({'mass':{'1,358':1358}})
# Define which columns should be encoded vs scaled
columns_to_encode = ['eye_color','skin_color','classification']
columns_to_scale  = ['height', 'mass']

from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Instantiate encoder/scaler
scaler = StandardScaler()
ohe    = OneHotEncoder(sparse=False)

# Scale and Encode Separate Columns
scaled_columns  = scaler.fit_transform(dataset[columns_to_scale]) 
encoded_columns =    ohe.fit_transform(dataset[columns_to_encode])

# Concatenate (Column-Bind) Processed Columns Back Together
processed_data = np.concatenate([scaled_columns, encoded_columns], axis=1)
print(processed_data)

yf=sw_class2['species_name'].factorize()[0]

[[-0.10930426 -0.14304304  0.         ...  0.          0.
   0.        ]
 [ 0.19868012 -0.14304304  0.         ...  0.          0.
   0.        ]
 [ 0.38347075 -0.1041027   0.         ...  0.          0.
   0.        ]
 ...
 [ 0.38347075 -0.13191723  0.         ...  0.          0.
   0.        ]
 [ 0.93784263 -0.12635432  1.         ...  0.          0.
   0.        ]
 [ 0.22947856 -0.1041027   0.         ...  0.          0.
   0.        ]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

Then separate in Train and Test sets

In [23]:
X=processed_data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, yf, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (40, 43) (40,)
Test set: (11, 43) (11,)

Then apply Knn nearest neighbors algorithm

In [24]:
from sklearn.neighbors import KNeighborsClassifier
k = 3
#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh
yhat = neigh.predict(X_test)
yhat[0:5]
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.625
Test set Accuracy:  0.5454545454545454

Depending on the random state e get different values of accuracy

Finally we eploy the random forest algorithm

In [25]:
from sklearn.metrics import accuracy_score

from sklearn.ensemble import RandomForestClassifier

# train model
rfc = RandomForestClassifier(n_estimators=10).fit(X_train, y_train)

# predict on test set
rfc_pred = rfc.predict(X_test)

accuracy_score(y_test, rfc_pred)

0.36363636363636365